body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1, .section2 {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2 {
    background: rgb(68,35,19);
}

.text {
    position: absolute;
    top: 30%;
    left: 50%;
    font-family: 'Franklin Gothic Heavy';
    font-size: 15vw;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
    5px 5px 70px rgba(255, 255, 255, 0.5);
    transform: translate(-50%, -50%) scale(1, 1.1);
}
